/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

.list {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 800px;
}
.list .toDo {
  display: flex;
  flex-direction: column;
  width: 25%;
  align-items: center;
  justify-content: flex-start;
  background-color: #58b4ca;
  margin: 30px;
  box-shadow: 0px 5px 7px 0px rgba(0, 0, 0, 0.3490196078);
  border-radius: 15px;
  overflow: scroll;
  height: 600px;
}
.list .toDo h2 {
  display: flex;
  flex-direction: column;
  margin-top: 10px;
  font-size: 60px;
  margin-bottom: 20px;
  color: rgba(255, 255, 255, 0.637);
}
.list .toDo .toDo_list {
  width: 100%;
}
.list .toDo .toDo_list li {
  background-color: rgb(255, 255, 255);
  box-shadow: 0px 5px 7px 0px rgba(0, 0, 0, 0.3490196078);
  border-radius: 15px;
  margin: 20px;
  padding: 12px;
  word-wrap: break-word;
  word-break: break-all;
}
.list .toDo .toDo_list li .div-titre {
  font-size: 25px;
}
.list .toDo .toDo_list li .div-time {
  color: rgba(84, 158, 177, 0.862745098);
}
.list .toDo .toDo_list li .desciptionDiv {
  margin-top: 25px;
}
.list .toDo .toDo_list li .div_button {
  display: flex;
  width: 100%;
  margin: -15px 0px 0px -15px;
}
.list .toDo .toDo_list li .div_button .delete-icon {
  margin: 8px -5px 6px 7px;
  width: 30px;
  font-size: 15px;
  border: none;
  background-color: rgba(255, 255, 255, 0);
}
.list .toDo .toDo_list li .div_button .button__Modification {
  margin: 8px 0px 6px 0px;
  width: 30px;
  font-size: 15px;
  border: none;
  background-color: rgba(255, 255, 255, 0);
}
.list .doing {
  display: flex;
  flex-direction: column;
  width: 25%;
  align-items: center;
  justify-content: flex-start;
  background-color: #58b4ca;
  margin: 30px;
  box-shadow: 0px 5px 7px 0px rgba(0, 0, 0, 0.3490196078);
  border-radius: 15px;
  overflow: scroll;
  height: 600px;
}
.list .doing h2 {
  display: flex;
  flex-direction: column;
  margin-top: 10px;
  font-size: 60px;
  margin-bottom: 20px;
  color: rgba(255, 255, 255, 0.637);
}
.list .doing .doing_list {
  width: 100%;
}
.list .doing .doing_list li {
  background-color: rgb(255, 255, 255);
  box-shadow: 0px 5px 7px 0px rgba(0, 0, 0, 0.3490196078);
  border-radius: 15px;
  margin: 20px;
  padding: 12px;
  word-wrap: break-word;
  word-break: break-all;
}
.list .doing .doing_list li .div-titre {
  font-size: 25px;
}
.list .doing .doing_list li .div-time {
  color: rgba(84, 158, 177, 0.862745098);
}
.list .doing .doing_list li .desciptionDiv {
  margin-top: 25px;
}
.list .doing .doing_list li .div_button {
  display: flex;
  width: 100%;
  margin: -15px 0px 0px -15px;
}
.list .doing .doing_list li .div_button .delete-icon {
  margin: 8px -5px 6px 7px;
  width: 30px;
  font-size: 15px;
  border: none;
  background-color: rgba(255, 255, 255, 0);
}
.list .doing .doing_list li .div_button .button__Modification {
  margin: 8px 0px 6px 0px;
  width: 30px;
  font-size: 15px;
  border: none;
  background-color: rgba(255, 255, 255, 0);
}
.list .done {
  display: flex;
  flex-direction: column;
  width: 25%;
  align-items: center;
  justify-content: flex-start;
  background-color: #58b4ca;
  margin: 30px;
  box-shadow: 0px 5px 7px 0px rgba(0, 0, 0, 0.3490196078);
  border-radius: 15px;
  overflow: scroll;
  height: 600px;
}
.list .done h2 {
  display: flex;
  flex-direction: column;
  margin-top: 10px;
  font-size: 60px;
  margin-bottom: 20px;
  color: rgba(255, 255, 255, 0.637);
}
.list .done .done_list {
  width: 100%;
}
.list .done .done_list li {
  background-color: rgb(255, 255, 255);
  box-shadow: 0px 5px 7px 0px rgba(0, 0, 0, 0.3490196078);
  border-radius: 15px;
  margin: 20px;
  padding: 12px;
  word-wrap: break-word;
  word-break: break-all;
}
.list .done .done_list li .div-titre {
  font-size: 25px;
}
.list .done .done_list li .div-time {
  color: rgba(84, 158, 177, 0.862745098);
}
.list .done .done_list li .desciptionDiv {
  margin-top: 25px;
}
.list .done .done_list li .div_button {
  display: flex;
  width: 100%;
  margin: -15px 0px 0px -15px;
}
.list .done .done_list li .div_button .delete-icon {
  margin: 8px -5px 6px 7px;
  width: 30px;
  font-size: 15px;
  border: none;
  background-color: rgba(255, 255, 255, 0);
}
.list .done .done_list li .div_button .button__Modification {
  margin: 8px 0px 6px 0px;
  width: 30px;
  font-size: 15px;
  border: none;
  background-color: rgba(255, 255, 255, 0);
}/*# sourceMappingURL=style.css.map */